* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.search-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.search-bar {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.filter-button {
    padding: 10px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.filter-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.filter {
    background-color: #eee;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
}

.barbershop-list {
    padding: 10px;
}

.barbershop-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

.barbershop-logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 10px;
}

.barbershop-details {
    flex: 1;
}

.barbershop-details h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.barbershop-details p {
    font-size: 14px;
    color: #666;
}

.barbershop-rating {
    margin-top: 35px;
    font-size: 18px;
    color: #5CB299;
}

.filter {
    background-color: #5CB299;
    color: #fff;
}